
-- Enable RLS
ALTER TABLE bikes ENABLE ROW LEVEL SECURITY;

-- Create policy to allow public read access
CREATE POLICY \
Enable
read
access
for
all
users\
ON bikes FOR SELECT
TO public
USING (true);

-- Create policy to allow authenticated users to insert
CREATE POLICY \Enable
insert
for
authenticated
users\
ON bikes FOR INSERT
TO authenticated
WITH CHECK (true);

